<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" verbose="true" convertNoticesToExceptions="false" converWarningsToExceptions="false">
    <testsuites>
        <testsuite name="NimLoggerBundle Test Suite">
            <directory suffix="Test.php">.</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="junit" target="junit.xml" logIncompleteSkipped="false" />
    </logging>
</phpunit>

